extends layout
 
block content
  h1= title
  p This page will display a grid based on query parameters.
 
   body
   
    p Query Rows: #{query.rows}, Query Columns: #{query.cols}
 
   
    - const rows = Number(query.rows)
    - const cols = Number(query.cols)
 
   
    - if (!Number.isInteger(rows) || !Number.isInteger(cols))
      p Error: Rows and columns must be integers.
 
   
    - else if (rows < 3 || rows > 13)
      p Error: Rows must be between 3 and 13.
 
    - else if (cols < 3 || cols > 13)
      p Error: Columns must be between 3 and 13.
 
   
    - else
      table#outer
       
        - for (let i = 0; i < rows; i++) {
          tr#middle
           
            - for (let j = 0; j < cols; j++) {
              td= (i * i + j)  
            - }
          - }